<!DOCTYPE html>
<html>
  <body>
    <%= form_for(@quest) do | form | %>
      <%= form.text_field :name, :placeholder => "Quest's name"%>
      <%= form.number_field :experience_points, :placeholder => "Experience Points"%>
      <%= form.text_field :decription, :placeholder => "Description" %>
      <%= form.submit "Create Quest"%>
    <% end %>
  </body>
</html>