<!DOCTYPE html>
<html>
  <body>
    <%= form_for(@achievement) do | form | %>
      <%= form.text_field :name, :placeholder => "Achievement's name"%>
      <%= form.number_field :experience_points, :placeholder => "Experience Points"%>
      <%= form.text_field :description, :placeholder => "Description" %>
      <%= form.submit "Create Achievement"%>
    <% end %>
  </body>
</html>

